apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mariadb-pvcs
  labels:
    app: mariadb-pvcs
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard